/*----------------------------------------------------------------Vars----------------------------------------------------------------*/

:root {
  --color-primario: #0055d4ff;
}

/*----------------------------------------------------------------Scroll----------------------------------------------------------------*/
body::-webkit-scrollbar {
  width: .3rem;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  border-radius: 3rem;       /* roundness of the scroll thumb */
  border: 3px solid var(--color-primario);  /* creates padding around scroll thumb */
}


/*-----------------------------------------------------------------NAV-----------------------------------------------------------------*/

header nav {
    height: max-content;
    padding-bottom: 0.5rem;
    transition: ease-out 0.3s;
  }
  header nav > div {
    padding-bottom: 0.5rem;
  }
  
  .nombre {
    margin-left: 2rem;
    font-weight: bold;
    font-size: 150%;
  
    user-select: none;
  }
  .boton-nav {
    border: none;
    padding: 0;
  }
  .boton-nav:focus {
    box-shadow: none;
  }
  .nav-link {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 750ms;
  }
  .nav-link:hover {
    text-decoration-color: white;
  }
  .logo img{
    width: 6rem;
    margin-left: 3rem;
  }
  .bx-menu, .bx-menu-alt-left{
    font-size: 4rem;
  }
  nav{
    background-color: white;
  }

  /*Cuerpo*/
  .introduccion-cont{
    margin: 6rem 3rem 0  ;
  }
  .introduccion-cont h2{
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-bottom: .3rem var(--color-primario) solid;
    width: 15rem;
    padding-bottom: 1rem;
  }